* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

main {
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.contenedorTodo {
    width: 100%;
    max-width: 800px;
    margin: auto;
    backdrop-filter: blur(12px) !important;
    background-color: rgba(206, 209, 5, 0.815) !important;
    padding: 1% 10%;
    border-radius: 25px;
    box-shadow: 10px 2px 50px rgb(74, 78, 8);
}

.contenedorLogin {
    justify-content: center;
    padding: 20px 20px;
    background: linear-gradient(0deg, rgba(5, 5, 5, 1) 0%, rgba(33, 46, 75, 1) 50%, rgba(21, 48, 110, 1) 100%);
    border-radius: 20px;
    box-shadow: 10px 2px 50px rgb(32, 34, 5);
}

h2 {
    color: #ffffff;
    text-shadow: 1px 1px 10px rgb(210, 229, 36)
}

.contenedorLogin form {
    color: #fff;
}

.contenedorImg {
    text-align: center;
    width: 100%;
    padding: 2% 30%;
}

.contenedorImg img {
    width: 100%;
    max-width: 400px;
}

.footerLogin {
    text-align: end;
    padding-top: 40px;
}

.footerLogin img {
    width: 100%;
    max-width: 400px;
    transform: skewX(0deg);
    animation: skew 10s infinite;
    animation-direction:normal;
    animation-delay: 3s;
}

@keyframes skew{
    0%{
        transform:translateX(20px);
    }
    100%{
        transform:translateX(-2000px);
    }
}

.botonLogin {
    background-color: rgb(160, 9, 9);
    color: #fff;
}

.botonLogin:hover{
    background-color:  rgba(131, 133, 8, 0.815);
    color: #fff;
}
.botonLogin:focus{
    background-color:  rgba(131, 133, 8, 0.815);
    color: #fff;
}
