
nav{
   background-color:#022a86c6;
    width: 100%;
    height: 16vh;
    display: flex;
    justify-content: center;
}
nav>div{
    height: 100%;
}
nav>div>img{
    max-height: 100%;
}
section{
    height: 84vh;
}

#info{
    height:45vh;
    display: grid;
    grid-template-columns: 1fr 1fr;

}
#banner{
    width: auto;
    height: 37vh;
    text-align: center;
    font-size: 15px;
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
}

.grid-banner{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 0.7fr 1fr;
}
.div-img-banner{
    display: flex;
    justify-content: initial;
    padding-left: 10px;
}
.div-img-banner>img{
    max-height: 37vh;
    border-radius: 5px;
}
.info-atleta{
    font-size: 8px;
    text-align: start;
}
.info-atleta>h4{
    font-size: 10px;
}